* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #ff6900;
  color: white;
  position: fixed;
  width: 100%;
}

main {
  padding-top: 50px;
}

.container-h {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
}

ul li {
  list-style-type: none;
  font-weight: bold;
  justify-content: center;
}

/* utility */

.img {
  max-width: 120px;
}

.col33 {
  width: calc(100% / 3);
}