* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #ff6900;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

main {
  margin-top: 120px;
}

.container-h {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 80px;
}

ul li {
  list-style-type: none;
  font-weight: bold;
  justify-content: center;
}

/* utility */

.justify-content-center {
  justify-content: center;
}

.img {
  max-width: 120px;
}

.col-33 {
  width: calc(100% / 3 - 20px);
}

.card {
  position: relative;
}

.card img {
  max-width: 100%;
}

.bg-red {
  background-color: #ff0000;
}

.bg-green {
  background-color: #008000;
}

.discount {
  padding: 5px 8px;
  font-size: 0.7em;
  color: white;
  position: absolute;
  left: 0;
  bottom: 50px;
}

.eco {
  padding: 5px 8px;
  font-size: 0.7em;
  color: white;
  position: absolute;
  bottom: 50px;
  right: 257px;
}

.eco-alone {
  padding: 5px 8px;
  font-size: 0.7em;
  color: white;
  position: absolute;
  bottom: 50px;
  left: 0;
}